@{
    ViewData["Title"] = "Home Page";

    dynamic prerenderData = new
    {
        isAuthenticated = this.User.Identity.IsAuthenticated,
    };
}

<div id="react" asp-prerender-module="Server/main-server">Server pre-rendering..</div>