@{
    ViewData["Title"] = "Home Page";

    dynamic prerenderData = new
    {
        isAuthenticated = this.User.Identity.IsAuthenticated,
    };
}

<div id="react" asp-prerender-module="Server/main-server"></div>

@{
    // Only load the client APP if 'SSR only' is not specified
    if(!Config.SSROnly)
    {
        <script src="~/js/main-client.js"></script>
    }
}