@{/* Key for SSR to work */}
@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    ViewData["Title"] = "Login";

    dynamic prerenderData = new
    {
        isAuthenticated = this.User.Identity.IsAuthenticated,
        extra=ViewData["Extra"]
    };
}

<html>
    <body style="background-color: rgb(14, 110, 184);">

<link
  rel="stylesheet"
  href="../CSS/semantic.min.css"
/>

<div id="react" asp-prerender-module="Server/main-server" asp-prerender-data="prerenderData"></div>

@{
    // Set to false to test SSR only.
    if(true)
    {
        <script src="~/js/main-client.js"></script>
    }
}

    </body>
</html>