@{/* Key for SSR to work */}
@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    ViewData["Title"] = "Login";

    dynamic prerenderData = new
    {
        //sidtodo needed?
        isAuthenticated = this.User.Identity.IsAuthenticated,
        extra=ViewData["Extra"]
    };
}

<html>
    <body style="background-color: rgb(14, 110, 184);">

@{/* //sidtodo use webpack to bundle CSS */}
<link
  rel="stylesheet"
  href="../CSS/semantic.min.css"
/>

<div id="react" asp-prerender-module="Server/main-server" asp-prerender-data="prerenderData"></div>

@{
    // Only load the client APP if 'SSR only' is not specified
    //sidtodo SSR
    if(true)
    //if(!Config.SSROnly)
    {
        <script src="~/js/main-client.js"></script>
    }
}

    </body>
</html>